################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Oraculo/.vs/Oraculo/v16/Server/sqlite3
